<% include partials/header %>

    <h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>
    <% if(thingVar.toLowerCase() === "puppy"){ %>
        <p> good choice</p>
     <% } %>

<% include partials/footer %>
