<% include partials/header %>
<link type="text/css" rel="stylesheet" href="campgrounds.css">
</head>
<body>

<% include partials/navbar %>

<header class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to YelpCamp</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
            <a href="/campgrounds/new"><button class="btn btn-primary btn-lg">Create new Campground</button></a>
        </p>
    </div>
</header>
<!-- TODO Make this container wider-->
<div class="container">
    <!--Colt used style="display:flex;flex-wrap: wrap;"-->
    <div class="row">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <div class="card mb-5">
                <img src="<%=campground.image%>" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title"><%=campground.name %></h4>
                    <p class="card-text">Enter Description Here</p>
                </div>
            </div>

        </div>
        <%})%>
    </div>

</div>


<% include partials/footer %>